{
  "bot_token": "NzMwNDQwMDA5OTQwNzI5OTc3.XwXiLA.edzPXL62_LbsVHj_PayHhVaXA7k",
  "website_url": "https://csgospin.live",
  "status_channel_id": "729821575414808728",
  "guild_id": "729817760485605468"
}